
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-attachment: fixed;
}


.register-box {
  width: 350px;
  padding: 40px 30px;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}


.register-box h2 {
  margin-bottom: 30px;
  font-size: 24px;
}


.input-group {
  width: 100%;
}


.input-field {
  margin-bottom: 20px;
  text-align: right;
}


.input-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #aadfff;
}


.input-field input[type="text"],
.input-field input[type="password"] {
  width: 100%;
  padding: 12px 10px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}


.input-field input[type="button"] {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  background: linear-gradient(90deg, #00aaff, #007bff);
  transition: 0.3s;
}

.input-field input[type="button"]:hover {
  opacity: 0.9;
}
